* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html {
    font-size: 100%;

    /*--- font-size var ---*/
    --fs12: .75rem;
    --fs13: .813rem;
    --fs14: 0.875rem;
    --fs16: 1rem;
    --fs17: 1.063rem;
    --fs18: 1.125rem;
    --fs20: 1.3125rem;
    --fs22: 1.375rem;
    --fs24: 1.5rem;
    --fs26: 1.625rem;
    --fs30: 1.875rem;
    --fs32: 2rem;

    /* --- spacing --- */
    --sp5: .313rem;
    --sp10: .625rem;
    --sp11: .688rem;
    --sp12: .75rem;
    --sp15: .938rem;
    --sp16: 1rem;
    --sp17: 1.063rem;
    --sp18: 1.125rem;
    --sp20: 1.3125rem;
    --sp25: 1.563rem;
    --sp28: 1.75rem;
    --sp30: 1.875rem;
    --sp35: 2.188rem;
    --sp38: 2.375rem;
    --sp40: 2.5rem;
    --sp50: 3.125rem;

    /*--- color var ---*/
    --pri-clr-cyan1: hsl(179, 62%, 45%);
    --pri-clr-cyan2: hsl(179, 62%, 43%);
    --neu-clr-light-gray: hsl(204, 43%, 93%);
    --neu-clr-grayish-blue: hsl(218, 22%, 67%);
    --neu-clr-white: hsl(0, 0%, 100%);
    --acc-clr-bright-yellow1: hsl(71, 73%, 50%);
    --acc-clr-bright-yellow2: hsl(71, 73%, 48%);
}

body {
    background-color: var(--neu-clr-light-gray);
    font-size: 1rem;
    font-family: 'Karla', sans-serif;
    font-weight: 300;
    line-height: 1.6;
}

h1,
h2 {
    letter-spacing: .03rem;

}

h1 {
    color: var(--pri-clr-cyan2);
    font-size: var(--fs24);
    font-weight: 500;
    margin-bottom: var(--sp16);
}

h2 {
    font-size: var(--fs18);
    font-weight: 400;
    margin-bottom: var(--sp10);
}

a:link {
    text-decoration: none;
}

a.btn:link,
a.btn:visited {
    display: inline-block;
    background-color: var(--acc-clr-bright-yellow1);
    padding: var(--sp12);
    text-align: center;
    border-radius: .313rem;
    box-shadow: 0px 2px 3px 2px rgba(90, 90, 90, 0.1), 0px 4px 7px 3px rgba(90, 90, 90, 0.2);
}

a.btn:hover,
a.btn:active {
    background-color: var(--acc-clr-bright-yellow2);
}

.btn100 {
    width: 100%;
}

/* containers and box */

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.grid-container {
    width: calc(630rem/16);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: 0px 2px 3px 2px rgba(90, 90, 90, 0.1), 0px 4px 7px 3px rgba(90, 90, 90, 0.2);
}

.box-1,
.box-2,
.box-3 {
    height: 100%;
    padding: var(--sp38) var(--sp40);
}

.box-1 {
    background-color: var(--neu-clr-white);
    grid-column: 1/-1;
}

.box-2 {
    background-color: var(--pri-clr-cyan2);
}

.box-3 {
    background-color: var(--pri-clr-cyan1);
}

.box-2,
.box-3,
.box-2 a.btn {
    color: var(--neu-clr-white);
}


/* box 1 */

.box-1 .sub-heading {
    color: var(--acc-clr-bright-yellow1);
    font-size: var(--fs17);
    font-weight: 400;
    letter-spacing: 0.03rem;
    margin-bottom: var(--sp10);
}

.box-1 p {
    color: var(--neu-clr-grayish-blue);
}

/* box 2 */

.fees {
    display: flex;
    align-items: center;
    gap: var(--sp15);
    font-weight: 200;

}

.price {
    font-size: var(--fs32);
    font-weight: 500;
    letter-spacing: .1rem;
    line-height: 1.3;
}

.price-desc {
    font-size: var(--fs16);
    margin-bottom: var(--sp28);
}

/* box 3 */

.box-3 h2 {
    margin-bottom: var(--sp15);
}

.box-3 ul {
    list-style: none;
    font-size: var(--fs13);
    font-weight: 200;
    letter-spacing: 0.02rem;
}

footer {
    padding: var(--sp10);
    border-top: 2px solid #fff;
}

/* footer */
.attribution {
    font-size: var(--fs12);
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media(max-width: calc(680em/16)) {
    .grid-container {
        grid-template-columns: 1fr;
        max-width: 85%;
    }
}

@media(max-width: calc(522em/16)) {
    h1 {
        font-size: var(--fs20);
        letter-spacing: 0.01rem;
    }

    h2 {
        font-size: var(--fs17);
    }

    .box-1,
    .box-2,
    .box-3 {
        padding: var(--sp25);
    }

    .box-1 .sub-heading {
        font-size: var(--fs15);
        letter-spacing: 0.02rem;
        line-height: 1.2;
        margin-bottom: var(--sp16);
    }

    .box-1 p {
        font-size: var(--fs14);
        line-height: 1.7;
    }

    .box-3 ul {
        font-size: var(--fs14);
    }
}